@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700,900&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-account:before {
  content: "\e900";
}

._icon-arrow:before {
  content: "\e901";
}

._icon-calendar:before {
  content: "\e902";
}

._icon-cart:before {
  content: "\e903";
}

._icon-compare:before {
  content: "\e904";
}

._icon-double:before {
  content: "\e905";
}

._icon-email:before {
  content: "\e906";
}

._icon-facebook:before {
  content: "\e907";
}

._icon-instagram:before {
  content: "\e908";
}

._icon-magnifier:before {
  content: "\e909";
}

._icon-odnoklassniki:before {
  content: "\e90a";
}

._icon-phone:before {
  content: "\e90b";
}

._icon-phone-working:before {
  content: "\e90c";
}

._icon-quote:before {
  content: "\e90d";
}

._icon-remove:before {
  content: "\e90e";
}

._icon-trash:before {
  content: "\e90f";
}

._icon-vk:before {
  content: "\e910";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > .page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 81.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.625rem;
}

.select {
  position: relative;
}

.select__body {
  position: relative;
}

.select__title {
  border: #0a7c8b solid 2px;
  font-size: 15px;
  color: #0a7c8b;
  width: 100%;
  background-color: #fff;
  font-size: 14px;
  text-align: left;
  font-weight: 400;
  text-transform: none;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.875rem;
  padding: 0 0.9375rem;
  gap: 0.625rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #0a7c8b;
  position: absolute;
  top: 29px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: #0a7c8b solid 2px;
  border-top: 0;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 5;
}

._select-tag {
  cursor: pointer;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.input,
area {
  border: #0a7c8b solid 2px;
  padding: 5px;
  min-height: 20px;
  font-size: 15px;
  color: #0a7c8b;
  width: 100%;
}

.page {
  min-width: 0;
}

.page__container {
  min-width: 0;
}

.main {
  min-width: 0;
}

[class*=title] {
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 900;
}

@supports (font-size: clamp( 1.3125rem , 1.0902777778rem  +  1.1111111111vw , 2.0625rem )) {
  [class*=title] {
    font-size: clamp( 1.3125rem , 1.0902777778rem  +  1.1111111111vw , 2.0625rem );
  }
}

@supports not (font-size: clamp( 1.3125rem , 1.0902777778rem  +  1.1111111111vw , 2.0625rem )) {
  [class*=title] {
    font-size: calc(1.3125rem + 0.75 * (100vw - 20rem) / 67.5);
  }
}

[class*=label] {
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 900;
}

@supports (font-size: clamp( 1.0625rem , 1.0069444444rem  +  0.2777777778vw , 1.25rem )) {
  [class*=label] {
    font-size: clamp( 1.0625rem , 1.0069444444rem  +  0.2777777778vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.0625rem , 1.0069444444rem  +  0.2777777778vw , 1.25rem )) {
  [class*=label] {
    font-size: calc(1.0625rem + 0.1875 * (100vw - 20rem) / 67.5);
  }
}

[class*=btn] {
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 100%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f0833f;
  border: 2px solid #f0833f;
}

[class*=text] {
  text-transform: none;
  font-size: 14px;
  line-height: 175%;
  letter-spacing: 0.04em;
  font-weight: 400;
}

.black {
  color: #333;
}

.orange {
  color: #f0833f;
}

.turquoise {
  color: #03a1b6;
}

.gray {
  color: #999;
}

.strong,
.header__phone-working,
.header__mail,
.header__account {
  font-weight: 700;
}

.order__line3,
.signboard__button,
.phones__number,
.phones__leble,
.menu__item,
.product__subtitle,
.product__title,
.strong,
.header__phone-working,
.header__mail,
.header__account {
  line-height: 140%;
  letter-spacing: 0.04em;
}

.side {
  margin-bottom: 20px;
}

.side-menu {
  background-color: #03a1b6;
}

.side-menu__top {
  border-bottom: solid 1px #54bbbe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.side-menu__button {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.side-menu__button.open span::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.side-menu__button span::before {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.side-menu__list li {
  border-bottom: solid 1px #54bbbe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side-menu__sub-list {
  border-bottom: solid 1px #54bbbe;
  background-color: #0a7c8b;
  color: #fff;
}

.side-menu__sub-list a {
  display: block;
}

.side-menu__sub-link {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  letter-spacing: 0.04em;
}

.side-menu__sub-link:hover {
  background-color: #54bbbe;
}

.side-menu__item {
  position: relative;
  cursor: pointer;
  padding: 12px;
  letter-spacing: 0.04em;
}

.side-menu__parent {
  border-bottom: solid 1px #54bbbe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.side-menu__parent span::before {
  padding: 10px;
  font-size: 15px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.side-menu__parent span {
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.side-menu__parent span.open {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.side-news {
  display: none;
}

.side-news__title {
  margin: 17px 0;
}

.side-news__article {
  margin: 17px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  gap: 15px;
}

.side-news__label {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.side-news__number-label {
  font-size: 25px;
}

.seach-form {
  width: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.seach-form__select-btn {
  color: white;
  border-color: #727272;
}

.seach-form__input {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 50px;
  color: #727272;
  border-bottom: 2px solid #999;
  border-top: 2px solid #999;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.04em;
}

.seach-form__input:focus {
  outline: none;
}

.product {
  padding: 20px;
  border: 1px solid #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.product__header {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.product__header a {
  display: block;
}

.product__pic-ibg {
  padding-bottom: 100%;
  overflow: hidden;
}

.product__pic-ibg img {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.product__title {
  font-size: 17px;
  text-transform: none;
}

.product__subtitle {
  font-size: 17px;
  text-transform: none;
  font-weight: 400;
}

.product__footer {
  margin-top: 30px;
  justify-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__cart {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  font-size: 50px;
  justify-self: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.product__new-cost {
  white-space: nowrap;
  position: relative;
  padding-top: 30px;
  padding-left: 20px;
  line-height: 100%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 900;
}

@supports (font-size: clamp( 1.375rem , 1.2824074074rem  +  0.462962963vw , 1.6875rem )) {
  .product__new-cost {
    font-size: clamp( 1.375rem , 1.2824074074rem  +  0.462962963vw , 1.6875rem );
  }
}

@supports not (font-size: clamp( 1.375rem , 1.2824074074rem  +  0.462962963vw , 1.6875rem )) {
  .product__new-cost {
    font-size: calc(1.375rem + 0.3125 * (100vw - 20rem) / 67.5);
  }
}

.product__old-cost {
  white-space: nowrap;
  text-decoration: line-through;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 100%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 900;
}

@supports (font-size: clamp( 1.25rem , 1.1574074074rem  +  0.462962963vw , 1.5625rem )) {
  .product__old-cost {
    font-size: clamp( 1.25rem , 1.1574074074rem  +  0.462962963vw , 1.5625rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1574074074rem  +  0.462962963vw , 1.5625rem )) {
  .product__old-cost {
    font-size: calc(1.25rem + 0.3125 * (100vw - 20rem) / 67.5);
  }
}

.product__old-cost_left {
  left: 18px;
}

.arrow {
  font-size: 45px;
  color: #03a1b6;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.arrow__left {
  display: block;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.arrow__right {
  display: block;
}

.checkbox {
  position: relative;
}

.checkbox:not(:last-child) {
  margin-bottom: 0.3125em;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:focus + .checkbox__label:before {
  -webkit-box-shadow: 0 0 5px #0a7c8b;
          box-shadow: 0 0 5px #0a7c8b;
}

.checkbox__input:checked + .checkbox__label::after {
  opacity: 1;
}

.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 10px;
}

.checkbox__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18px;
          flex: 0 0 18px;
  width: 18px;
  height: 18px;
  border: 2px solid #0a7c8b;
}

.checkbox__label::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  background-color: #0a7c8b;
}

.checkbox__text {
  line-height: 130%;
  color: #0a7c8b;
}

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.noUi-target {
  position: relative;
}

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

/* Wrapper for all connect elements.
 */

.noUi-connects {
  overflow: hidden;
  z-index: 0;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  -webkit-transform-style: flat;
          transform-style: flat;
}

/* Offset direction
 */

.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}

/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */

.noUi-vertical .noUi-origin {
  top: -100%;
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Slider size and handle placement;
 */

.noUi-horizontal {
  height: 10px;
}

.noUi-horizontal .noUi-handle {
  width: 23px;
  height: 23px;
  right: -11px;
  top: -7px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  bottom: -17px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}

/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */

.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  -webkit-box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
          box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}

.noUi-connects {
  border-radius: 3px;
}

.noUi-connect {
  background: #03a1b6;
}

/* Handles and cursors;
 */

.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 50%;
  background: #FFF;
  cursor: default;
  background-color: #0a7c8b;
}

/* Disabled state;
 */

[disabled] .noUi-connect {
  background: #03a1b6;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

/* Base;
 *
 */

.noUi-pips,
.noUi-pips * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

/* Values;
 *
 */

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

/* Markings;
 *
 */

.noUi-marker {
  position: absolute;
  background: #CCC;
}

.noUi-marker-sub {
  background: #AAA;
}

.noUi-marker-large {
  background: #AAA;
}

/* Horizontal layout;
 *
 */

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
      transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
      transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

/* Vertical layout;
 *
 */

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
  padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
      transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #0a7c8b;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
      transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}

.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  -ms-transform: translate(0, -18px);
      transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

.product-tabs__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-tabs__title {
  border: 2px solid #03a1b6;
  color: #03a1b6;
  background-color: rgb(255, 255, 255);
  font-size: 17px;
  padding: 10px 15px;
}

.product-tabs__title._tab-active {
  color: rgb(255, 255, 255);
  background-color: #03a1b6;
}

.product-tabs__content {
  background-color: #03a1b6;
  padding: 10px 15px;
}

.header__head {
  background-color: #03a1b6;
}

.header__bottom {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__account::before {
  padding-right: 10px;
  font-size: 25px;
}

.header__account:hover,
.header__account:focus {
  outline: none;
  color: #03a1b6;
}

.header__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__mail::before {
  padding-right: 10px;
  font-size: 25px;
}

.header__mail:hover,
.header__mail:focus {
  outline: none;
  color: #03a1b6;
}

.header__phone-working {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone-working::before {
  padding-right: 10px;
  font-size: 22px;
}

.header__phone-working:hover,
.header__phone-working:focus {
  outline: none;
  color: #03a1b6;
}

.header__calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__calendar::before {
  padding-right: 10px;
  font-size: 25px;
}

.header__calendar:hover,
.header__calendar:focus {
  outline: none;
  color: #03a1b6;
}

.header__cart {
  padding-right: 15px;
  position: relative;
  margin: 20px 0px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
}

.header__cart span {
  font-size: 18px;
  position: absolute;
  right: 8px;
  top: -8px;
  border-radius: 50%;
  padding: 8px 10px 8px 10px;
  color: #fff;
  background-color: #f0833f;
}

.header__cart::before {
  padding-right: 10px;
  font-size: 45px;
}

.header__cart:hover,
.header__cart:focus {
  outline: none;
  color: #03a1b6;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__logo {
  position: relative;
  z-index: 4;
  -ms-grid-column-align: start;
      justify-self: start;
}

.menu__logo img {
  max-width: 200px;
}

.menu__list {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.menu__item {
  font-weight: 700;
}

.menu__link {
  white-space: nowrap;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 10px;
  padding: 10px;
}

.menu__link:hover,
.menu__link:focus {
  background-color: #0a7c8b;
}

.phones {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  margin: 15px 0px;
}

.phones__link {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 10px;
  padding: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
}

.phones__link:hover,
.phones__link:focus {
  background-color: #0a7c8b;
}

.phones__link::before {
  font-size: 20px;
  padding-right: 15px;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

.phones__leble {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  white-space: nowrap;
}

.phones__number {
  font-weight: 900;
  font-size: 1.125rem;
  white-space: nowrap;
}

.icon-menu {
  display: none;
}

.footer__bottom {
  margin-top: 15px;
  border-top: 1px solid #999;
  padding: 15px 0 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copy {
  font-size: 17px;
}

.info-footer {
  border-top: 2px dashed #999;
  border-bottom: 2px dashed #999;
  margin-top: 35px;
  padding: 15px 0;
}

.info-footer__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}

.info-footer__line:not(:last-child) {
  margin-bottom: 10px;
}

.info-footer__item:hover,
.info-footer__item:focus {
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  outline: none;
  color: #333;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 15px;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__link {
  font-size: 30px;
  color: #03a1b6;
}

.social__link:hover,
.social__link:focus {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  outline: none;
  color: #f0833f;
}

.social ._icon-odnoklassniki {
  font-size: 35px;
}

.social ._icon-vk {
  font-size: 40px;
}

.main-footer__container {
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.main-footer__grid {
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.main-footer__logo img {
  max-width: 100%;
}

.main-footer__right-col {
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.delivery {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.delivery__title {
  font-size: 20px;
}

.delivery__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home {
  min-width: 0;
}

.about {
  margin-top: 20px;
  padding: 40px;
  background-color: #03a1b6;
}

@supports (padding: clamp( 1.5625rem , 1.375rem  +  0.9375vw , 2.5rem )) {
  .about {
    padding: clamp( 1.5625rem , 1.375rem  +  0.9375vw , 2.5rem );
  }
}

@supports not (padding: clamp( 1.5625rem , 1.375rem  +  0.9375vw , 2.5rem )) {
  .about {
    padding: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 100);
  }
}

.about__article {
  margin-top: 20px;
}

.about__label {
  margin-bottom: 10px;
}

.signboard {
  margin-bottom: 20px;
}

.signboard__slide-ibg {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.signboard__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}

.signboard__title {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

.signboard__title_center {
  margin-bottom: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: lowercase;
}

.signboard__label {
  text-align: center;
  position: relative;
  z-index: 2;
  line-height: 170%;
}

.signboard__label_gray {
  padding: 0 10px;
  background-color: #727272;
}

.signboard__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  gap: 20px;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 10px 15px;
  border: 2px solid #fff;
  position: relative;
  z-index: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.home-slider__slide {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

@supports (gap: clamp( 1.25rem , 0.875rem  +  0.8333333333vw , 1.875rem )) {
  .home-slider__slide {
    gap: clamp( 1.25rem , 0.875rem  +  0.8333333333vw , 1.875rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.875rem  +  0.8333333333vw , 1.875rem )) {
  .home-slider__slide {
    gap: calc(1.25rem + 0.625 * (100vw - 45rem) / 75);
  }
}

.home-slider__header {
  padding: 10px 0 20px 0;
  display: -ms-grid;
  display: grid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-slider__header .home-slider__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.home-slider__pagination {
  white-space: nowrap;
  padding: 10px;
  color: #999;
  font-size: 30px;
  font-weight: 900;
}

.home-slider__pagination .swiper-pagination-current {
  color: #333;
  font-size: 45px;
}

.home-slider__navigations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.filter {
  margin-top: 20px;
  border: 3px solid #03a1b6;
}

.filter__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter__button-open {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.filter__button-open.open::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.filter__button-open::before {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.filter__buttons {
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter__btn {
  text-transform: none;
  font-size: 15px;
}

.spollers__item {
  padding: 12px;
  border-bottom: 1px solid #03a1b6;
}

.spollers__title {
  text-align: start;
  width: 100%;
  font-size: 17px;
  text-transform: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spollers__title::before {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  rotate: 90deg;
}

.spollers__title._spoller-active::before {
  rotate: -90deg;
}

.spollers__inputs {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spollers__inputs label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  color: #0a7c8b;
  font-weight: 700;
  font-size: 15px;
}

.spollers__body {
  padding: 20px 0 10px 0;
}

.noUislider {
  margin: 25px 0 20px 0;
}

.catalog-main__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 10px 0;
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
}

.catalog-main__title {
  color: #999;
}

.catalog-main__body {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

@supports (gap: clamp( 1.25rem , 0.875rem  +  0.8333333333vw , 1.875rem )) {
  .catalog-main__body {
    gap: clamp( 1.25rem , 0.875rem  +  0.8333333333vw , 1.875rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.875rem  +  0.8333333333vw , 1.875rem )) {
  .catalog-main__body {
    gap: calc(1.25rem + 0.625 * (100vw - 45rem) / 75);
  }
}

.catalog-main__footer {
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
  padding: 10px 0;
  margin-top: 20px;
}

.pagging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagging__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagging__item {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  width: 40px;
  height: 40px;
  font-size: 16px;
  color: black;
  border-radius: 50%;
}

.pagging__item._active {
  background-color: #f0833f;
  color: #fff;
}

.main-product__content {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  min-width: 0;
}

.product-slider {
  margin-top: 15px;
  margin-bottom: 15px;
  min-width: 0;
}

.product-slider__slider {
  border: 2px solid rgba(153, 153, 153, 0.4);
}

.product-slider__image-ibg {
  padding-bottom: 80%;
}

.product-slider__sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 2;
  top: 25px;
  left: 25px;
  border-radius: 50%;
  background-color: #f0833f;
  width: 65px;
  height: 65px;
  font-size: 20px;
}

.product-slider__sub-slider {
  padding: 0 1px 0 0;
  margin-top: 15px;
}

.product-slider__sub-slide {
  border: 2px solid rgba(153, 153, 153, 0.4);
}

.product-slider__sub-slide.swiper-slide-thumb-active {
  border: 2px solid #f0833f;
}

.product-content__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
  gap: 10px;
}

.product-content__item .product__new-cost {
  margin-left: -18px;
}

.product-content__item:first-child {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-content__item:last-child {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: #8f8f8f solid 1px;
}

.product-content__cart {
  margin-right: 42px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 35px;
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  color: #525252;
  background-color: rgba(128, 128, 128, 0.4039215686);
  text-transform: uppercase;
  font-size: 17px;
}

.product-content__cart::before {
  position: absolute;
  right: -42px;
  top: -9px;
  display: block;
  font-size: 50px;
  color: #f0833f;
}

.product-content__title {
  font-size: 18px;
  padding-bottom: 10px;
}

.product-content__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.product-content__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.cart__title {
  margin: 15px 0;
}

.cart-form {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.cart-form__left {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.cart-form textarea {
  min-height: 150px;
}

.order__item {
  position: relative;
  border: 1px solid rgb(177, 174, 174);
  padding: 15px;
  margin-bottom: 15px;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.order__pic-ibg {
  padding-bottom: 90%;
  overflow: hidden;
}

.order__pic-ibg img {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.order__line1 {
  display: block;
  font-weight: 700;
}

.order__line3 {
  font-weight: 900;
  font-size: 18px;
}

.order__remove {
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 20px;
  right: 20px;
  font-size: 17px;
  color: #03a1b6;
}

.order__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 10px;
}

.select {
  position: relative;
}

.select__body {
  position: relative;
}

.select__title {
  border: #0a7c8b solid 2px;
  font-size: 15px;
  color: #0a7c8b;
  width: 100%;
  background-color: #fff;
  font-size: 14px;
  text-align: left;
  font-weight: 400;
  text-transform: none;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.875rem;
  padding: 0 0.9375rem;
  gap: 0.625rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #0a7c8b;
  position: absolute;
  top: 29px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: #0a7c8b solid 2px;
  border-top: 0;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 5;
}

._select-tag {
  cursor: pointer;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 400px) {
  .pagging__arrow {
    font-size: 45px;
    color: #03a1b6;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

@supports (margin-right: clamp( 0.3125rem , 0.2302631579rem  +  0.3289473684vw , 0.625rem )) {
    .pagging__arrow:first-child {
      margin-right: clamp( 0.3125rem , 0.2302631579rem  +  0.3289473684vw , 0.625rem );
    }
}

@supports not (margin-right: clamp( 0.3125rem , 0.2302631579rem  +  0.3289473684vw , 0.625rem )) {
    .pagging__arrow:first-child {
      margin-right: calc(0.3125rem + 0.3125 * (100vw - 25rem) / 95);
    }
}

@supports (margin-left: clamp( 0.3125rem , 0.2302631579rem  +  0.3289473684vw , 0.625rem )) {
    .pagging__arrow:last-child {
      margin-left: clamp( 0.3125rem , 0.2302631579rem  +  0.3289473684vw , 0.625rem );
    }
}

@supports not (margin-left: clamp( 0.3125rem , 0.2302631579rem  +  0.3289473684vw , 0.625rem )) {
    .pagging__arrow:last-child {
      margin-left: calc(0.3125rem + 0.3125 * (100vw - 25rem) / 95);
    }
}

  .order__item {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .order__item .quantity {
    margin-left: auto;
    margin-right: 15px;
  }
}

@media (min-width: 400px) and (any-hover: hover) {
  .pagging__arrow:hover {
    color: #f0833f;
  }
}

@media (min-width: 412px) {
  .cart-form__left {
    -ms-grid-columns: 1fr 1.7fr;
    grid-template-columns: 1fr 1.7fr;
  }
}

@media (min-width: 468.1px) {
  .seach-form__input {
    padding: 7px;
  }
}

@media (min-width: 500px) {
  .pagging__list {
    gap: 3px;
  }
}

@media (min-width: 700px) {
  .page__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 261px 1fr;
    grid-template-columns: 261px 1fr;
    gap: 20px;
  }

  .side-news {
    display: block;
  }

  .main-footer__container {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .filter__title {
    padding: 20px 0px 20px 15px;
    font-size: 23px;
    text-align: center;
  }

  .filter__title::before {
    display: none;
  }

  .filter__button-open {
    display: none;
  }
}

@media (min-width: 768.1px) {
  .seach-form__select-btn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    background-color: #727272;
  }

  .seach-form__select-btn::before {
    font-size: 13px;
    rotate: 90deg;
  }

  .seach-form__select-btn.open::before {
    rotate: -90deg;
  }

  .seach-form__select {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
  }

  .seach-form__select-body {
    border-left: 2px solid #999;
    border-bottom: 4px solid #f0833f;
    border-right: 2px solid #999;
    font-size: 18px;
    background-color: #fff;
    color: #999;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .seach-form__select-body input:checked ~ span {
    color: #f0833f;
  }

  .seach-form__select-body label {
    cursor: pointer;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    padding: 20px;
  }

  .seach-form__select-body input {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

@media (min-width: 800px) {
  .menu__list {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 970px) {
  .main-footer__right-col {
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
  }
}

@media (min-width: 1000px) {
  .order__item {
    -ms-grid-columns: 2fr 1fr 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1020px) {
  .cart-form {
    -ms-grid-columns: 1.2fr 1fr;
    grid-template-columns: 1.2fr 1fr;
  }
}

@media (min-width: 1024px) {
  .main-product__content {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1050px) {
  .phones {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 15px 0px;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}

@media (min-width: 1210px) {
  .main-footer__grid {
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 870px) {
  .home-slider__header .home-slider__title {
    text-align: center;
  }

  .home-slider__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .page__container {
    margin-top: 15px;
  }

  .seach-form__select-btn {
    display: none;
  }

  .seach-form__select {
    display: none;
  }

  .seach-form__select-body {
    display: none;
  }

  .seach-form__input {
    border-left: 2px solid #999;
  }

  .header__bottom {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .menu__body {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0;
    padding-top: 72px;
    /* высота хедера */
    left: -100%;
    /* место появления сменить */
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease;
    /* место появления сменить */
    overflow: auto;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: -100%;
    /* место появления сменить */
    -webkit-transition: top 0.3s ease;
    -o-transition: top 0.3s ease;
    transition: top 0.3s ease;
    /* место появления сменить */
    left: 0;
    z-index: 1;
    width: 100%;
    height: 72px;
    /* высота хедера */
    background: #03a1b6;
  }

  .menu-open .menu__body {
    left: 0;
    /* место появления сменить */
  }

  .menu-open .menu__body::before {
    top: 0;
    /* место появления сменить */
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #fff;
    /* сменить */
    color: #999;
    /* сменить */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 21px;
    /* шрифт меню сменить */
  }
}

@media (max-width: 768.1px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 700.1px) {
  .main-footer__container {
    justify-items: center;
  }

  .main-footer__left-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main-footer__grid {
    justify-items: center;
  }

  .main-footer__logofon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main-footer__delivery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main-footer__right-col {
    justify-items: center;
  }

  .delivery {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .delivery__title {
    text-align: center;
  }

  .delivery__logos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 699px) {
  .filter__title {
    padding: 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 650px) {
  .catalog-main__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .catalog-main__title {
    margin-bottom: 7px;
  }
}

@media (max-width: 500px) {
  .signboard__slide-ibg {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .signboard__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 482px) {
  .footer__bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 450px) {
  .product-tabs__navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 425px) {
  .product-content__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .product-content__item .product__new-cost {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .product-content__title {
    text-align: center;
  }

  .product-content__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 420px) {
  .product-content__cart {
    margin-left: auto;
  }
}

@media (max-width: 411px) {
  .cart-form__label {
    margin-bottom: -15px;
  }
}

@media (max-width: 400px) {
  .order__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    text-align: center;
  }

  .order__item .quantity {
    margin: 0 auto;
  }
}

@media (max-width: 399px) {
  .pagging__arrow {
    display: none;
  }
}

@media (max-width: 390px) {
  .order__remove {
    font-size: 21px;
  }
}

@media (max-width: 350px) {
  .order__title {
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .order__btn {
    width: 100%;
  }
}

@media (max-width: 1050px) and (min-width: 768.1px) {
  .phones__link:last-child {
    display: none;
    color: red;
  }
}

@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  [class*=btn]:hover {
    color: #fff;
    background-color: #f0833f;
  }

  .side-menu__button:hover {
    background-color: #0a7c8b;
  }

  .side-menu__list li:hover {
    background-color: #0a7c8b;
  }

  .product__pic-ibg img:hover {
    scale: 112%;
  }

  .product__title:hover {
    text-decoration: underline;
  }

  .product__subtitle:hover {
    text-decoration: underline;
  }

  .product__cart:hover {
    color: #03a1b6;
    scale: 110%;
  }

  .arrow:hover {
    color: #f0833f;
  }

  .signboard__button:hover {
    letter-spacing: 0.07em;
  }

  .filter__button-open:hover {
    color: #fff;
    background-color: #0a7c8b;
  }

  .pagging__item:hover {
    background-color: #727272;
    color: #fff;
  }

  .product-content__cart:hover {
    background-color: #f0833f;
    color: #fff;
  }

  .product-content__cart:hover::before {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: absolute;
    right: -42px;
    top: -9px;
    display: block;
    font-size: 50px;
    color: #0a7c8b;
  }

  .order__pic-ibg img:hover {
    scale: 112%;
  }

  .order__remove:hover {
    color: #f0833f;
  }

  .select__option:hover {
    background: #d9d9d9;
  }
}